// 自定义样式文件

// 默认主题 样式 开始
// markdown中，被``反引号包裹的，代码的样式
// .theme-default-content code
//   color #d63200
//   font-size 1em 

// markdown中，> 大于号里面的，代码的样式
// blockquote 
//   border-left: 0.5rem solid #42b983
//   color #2c3e50
//   background-color: #f3f5f7
//   padding: 0.4rem 1rem

// 默认主题 样式 结束

// reco主题 样式开始
// markdown中，被``反引号包裹的，代码的样式
.content__default code
  color #d2357d !important
  font-size 1em 

// H2 标题样式
h2::before
  border-left:5px solid #2376b7 !important

// 
.custom-block.tip, .custom-block.warning, .custom-block.danger
  border-left-width: 0.2rem !important

blockquote p
  color: #229453 !important

// 图片放大后的背景
.medium-zoom-overlay
  background: rgba(0,0,0,0.6) !important
// reco主题 样式结束
